.alt-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
  padding: 30px var(--horizontal-space);
  margin-bottom: 10px;
}
.alt-header__title {
  font-size: 27px;
  font-weight: 800;
}
.alt-header-column:first-child {
  margin-right: auto;
}
.alt-header-column:last-child {
  margin-left: auto;
}
